name: App CICD Workflow

on:
  workflow_dispatch:
  push:

defaults:
  run:
    shell: bash

jobs:
  build-android:
    name: Build Android
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: "17"
      - name: Setup Android SDK
        if: ${{ env.ACT }}
        uses: android-actions/setup-android@v2
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.0.5"
          channel: "stable"
#          cache: true
#          cache-key: 'flutter-:os:-:channel:-:version:'
#          cache-path: '${{ runner.tool_cache }}/flutter/:os:-:channel:-:version:'
      - run: flutter pub get
      - run: flutter test
      - run: flutter build appbundle
      - name: Push APK to Releases
        uses: softprops/action-gh-release@v0.1.14
        if: ${{ !env.ACT }}
        with:
          tag_name: "dev"
          files: |
            "build/app/outputs/apk/release/*.apk"
            "build/app/outputs/flutter-apk/*.apk"
            "build/app/outputs/bundle/release/*.aab"
      - name: Install AppCenter CLI
        run: |
          npm install --location=global appcenter-cli
          appcenter telemetry off
      - name: Distribute to AppCenter
        env:
          APPCENTER_ACCESS_TOKEN: ${{ secrets.APPCENTER_ACCESS_TOKEN }}
        run: |
          appcenter distribute release \
            --group "Internal" \
            --file 'build/app/outputs/bundle/release/app-release.aab' \
            --release-notes 'New GH Actions release' \
            --app bosch-adme/Flutter-Test-1 \
            --token $APP_CENTER_TOKEN \
            --silent \
            --quiet
  build-ios:
    name: Build iOS
    runs-on: macos-latest
    if: ${{ !env.ACT }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: "17"
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.0.5"
          channel: "stable"
      #          cache: true
      #          cache-key: 'flutter-:os:-:channel:-:version:'
      #          cache-path: '${{ runner.tool_cache }}/flutter/:os:-:channel:-:version:'
      - run: flutter pub get
      - run: flutter build ios --no-codesign --release
#      - name: Push APK to Releases
#        uses: softprops/action-gh-release@v0.1.14
#        if: ${{ !env.ACT }}
#        with:
#          tag_name: "dev"
#          files: |
#            "build/ios/ipa/*.ipa"
#      - name: Install AppCenter CLI
#        run: |
#          npm install --location=global appcenter-cli
#          appcenter telemetry off
#      - name: Distribute to AppCenter
#        env:
#          APPCENTER_ACCESS_TOKEN: ${{ secrets.APPCENTER_ACCESS_TOKEN }}
#        run: |
#          appcenter distribute release \
#            --group "Internal" \
#            --file 'build/ios/ipa/my_app.ipa' \
#            --release-notes 'New GH Actions release' \
#            --app bosch-adme/Flutter-Test \
#            --token $APP_CENTER_TOKEN \
#            --silent \
#            --quiet
